#!/bin/sh
set -e

. /usr/share/debconf/confmodule

db_version 2.0

db_input high mastodon-image-poster/image_directory || true
db_go || true

db_input high mastodon-image-poster/sort_order || true
db_go || true

db_input high mastodon-image-poster/instance_url || true
db_go || true

db_input high mastodon-image-poster/access_token || true
db_go || true

db_input high mastodon-image-poster/status_text || true
db_go || true
